body{
    background-color: rgb(58, 43, 43);
    color: aliceblue;
}
ul{
    color: rgb(158, 196, 183);
list-style: none;

}

li::before{
    content: '';
height: 10px;
width: 10px;
background-color: brown;
margin-right:10px ;
border-radius: 50%;
}

li{
    display: flex;
    align-items: center;
}

img {
    border-radius: 50%;
    border: 10px solid purple;

    box-shadow: 10px 10px 10px 10px black;
}